.container {
  background-color: #ffffff;
  border: 1px solid #dfe0eb;
  margin-top: 10px;
  padding: 20px;
  height: 100%;
 
}
.link {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #0860B0 !important; 
  text-align: right;
  cursor: pointer;
  text-decoration: underline;
}
.link:hover {
  color: #062d55;
}
.subtitle {
  letter-spacing: 0.1px;
  font-weight: 400;
  color: rgb(74, 79, 98);
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
.subtitle2 {
  color: #114575;
  margin-left: 2px;
}
.title {
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #114575;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
}
