.mainContainer {
  background: #eeeeee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  background-color: #ffffff;
  border-radius: 10px;
}

.headerTitle {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.form {
  padding: 5%;
}

.comWorkLogo {
    width: 250px;
    margin-bottom: 20px;
  }